<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Home</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
</head>

<body>
     {% include 'nav.html' %}
     <img class="img-fluid" src="../static/bg3-min.jpg" alt="" srcset="">
     <div class="container">
          <h1 class="text-center mt-3 mb-4">JackOTech Software and Services</h1>
          <div class="row">
               <div class="col-8 p-5 bg-dark-subtle m-0">
                    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti similique, iure
                         nesciunt fugiat nemo incidunt veritatis error vero doloribus, in modi. Aperiam ex facilis
                         pariatur perferendis culpa magnam natus perspiciatis ullam tempore veritatis atque aut, soluta
                         laboriosam vel commodi illo sit dicta, nulla sequi mollitia provident hic. Unde suscipit quidem
                         mollitia molestiae vero! Id suscipit, quaerat aspernatur assumenda est nihil fuga quidem?
                         Deserunt perspiciatis et sed repellat ipsa quo debitis accusantium blanditiis, odit totam
                         nihil.</p>
               </div>
               <div class="col-md-4 p-0">
                    <img class="w-100" src="/static/photo-1651904613373-84d7d53ef87d.avif" alt="">
               </div>
          </div>
          <div class="mt-2">
               <h2 class="text-center mt-2 mb-4">Job Openings</h2>
               {% for job in jobs %}
               {% include 'jobitem.html' %}
               {% endfor %}
          </div>
          <div class="text-center">
               <button class="btn btn-primary btn-lg">Contact Us</button>
          </div>
     </div>
     {% include 'footer.html' %}

     <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N"
          crossorigin="anonymous"></script>
</body>

</html>